body {
    background-image: url("../images/pokeballpattern.jpg");
    background-repeat: repeat;
  }

button {
    background-image: url('../images/pokepin.png');
    background-size: cover; 
    height: auto;
    width: auto;
    font-size: 1rem; 
                
}

.row {
    background-color: rgba(169, 47, 46, 1);
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 15px;
}

#weatherdiv {
    padding: 3px;
}

#logo {
    background-color: rgba(169, 47, 46, 1);
    margin: auto;
    width: 90%;
    padding: 10px;
}

.logoBackground {
    background-color: rgba(169, 47, 46, 1);
}

.footer {
    color: white;
    position: fixed; 
    background-color: rgba(169, 47, 46, 1);
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    text-align: center;
}

.typeSymbol {
    height: 100px;
    width: 100px;
}

.typeCard {
    float: left;
}

#typeBox {
    display: flex;
    justify-content: space-between;
}

.pokeSprite {
    height: 200px;
    width: 200px;

}